body {
  margin: 0;
  background-color: #c1c1c1;
  cursor: default;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #141414;
}

.visually-hidden {
  display: none;
}

.clickable {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: fixed;
  height: 40px;
  width: 1000px;
  background-color: #2038BE;
  color: #F4B64C;
  z-index: 1000000;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 5px;
  list-style: none;
}

.navigation-item {
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #EB4746;
}

.columns-structure {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 40px;
  padding: 40px;
  background-color: #F4B64C;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 40px;
  margin-top: 20px;
}

.page-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 80px;
  width: 920px;
  padding: 0 40px;
  background-color: #EB4746;
  font-weight: 500;
  font-size: 16px;
  color: #141414;
}